//@import "common/_variables";
// Glyphicons font path
$icon-font-path: "../fonts/";
// Grid settings
$main-sm-columns: 12;
$sidebar-sm-columns: 4;
// Colors
$brand-primary: #27ae60; //green
$brand-secondary: #51463f; //brown-ish
// Border Colors
$border-1: rgba(204, 204, 204, 0.2); //define

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "common/_global";
@import "components/_buttons";
@import "components/_comments";
@import "components/_forms";
@import "components/_grid";
@import "components/_wp-classes";
@import "layouts/_header";
@import "layouts/_sidebar";
@import "layouts/_footer";
@import "layouts/_pages";
@import "layouts/_posts";
